@page "/buttontest"

<h3>ButtonTest</h3>

<div class="form-group">
    <div class="container">
        <div class="btn-toolbar">

            <CustomEditButtonComponent Caption="Test Edit Button" Color="warning" Icon="pencil" IsSmall="true" OnClick="changeTitle">

            </CustomEditButtonComponent>
        </div>
    </div>
</div>

@code {

    private String title = "";
    private void changeTitle()
    {
        title = "New Title";
    }

}
